.header {
    position: relative; /* important */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image,
#drawingCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.image {
    object-fit: contain;
    /* or cover */
}

#drawingCanvas {
    touch-action: none;
}

.container {
    position: relative;
    margin: 0 auto;
    /* ✅ THIS centers horizontally */
    width: 90vw;
    height: 50vh;
    /* or 70vh depending on design */
}

button {
    border: none;
    background-color: transparent;
}

.buttons {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.upperButtons,
.lowerButtons {
    display: flex;
    justify-content: space-between;
}

/* 設定 */
#settingPage {
    display: none;
}

.header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}