* {
    margin: 0px;
    font-family: "Inter", sans-serif;
}

/* #mainPage,
#settingPage,
#chatroomPage,
#partiSettingPage {
    padding: 20px;
} */

/* 主頁 */
/* #mainPage {
    display: none;
} */

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.image,
#drawingCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.image {
    object-fit: contain;
    /* or cover */
}

#drawingCanvas {
    touch-action: none;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 90vw;
    height: 50vh;
}

button {
    border: none;
    background-color: transparent;
}

.buttons {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.upperButtons,
.lowerButtons {
    display: flex;
    justify-content: space-between;
}

.upperButtons {
    padding: 10px;
}

.lowerButtons {
    padding: 10px 10px 15px;
}

/* 設定 */
#settingPage {
    display: none;
}

/* .header h1,
.chatroomHeader h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
} */

.settingOpt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.hori {
    width: 100%;
    display: flex;
    justify-content: left;

}

.hori img {
    padding: 0px 20px;
}

#saveButton {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}


input {
    width: 60%;
    border: none;
    background-color: #F0F0F3;
    border-radius: 5px;
}

/* 聊天室 */
#chatroomPage {
    display: none;

}

.chatroomHeader {
    position: fixed;
    top: 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
}

.chatUsername {
    font-size: 12px;
    text-align: end;
    padding-top: 10px;
}

.messageL .chatUsername {
    color: #9A9BB1;
}

.messageR .chatUsername {
    color: #E9EAEB;
}

.messageList {
    padding: 120px 20px;
    width: 100%;
    overflow: auto;
}

.messageL,
.messageR {
    padding: 5px;
}

.messageL {
    display: flex;
    justify-content: flex-start;
}

.messageR {
    display: flex;
    justify-content: flex-end;
}

.messageTextL,
.messageTextR {
    padding: 10px;
}

.messageTextL {
    background-color: white;
    width: fit-content;
    border-radius: 0px 15px 15px;
    color: black;
}

.messageTextR {
    background-color: #546C8F;
    width: fit-content;
    border-radius: 15px 15px 0px;
    color: white;
}

.footer {
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    bottom: 0px;
    background-color: white;
    padding: 20px 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.messageField {
    height: 50px;
    width: 100%;
}

#partiSettingPage {
    display: none;
}

#partiSettingPage .hori {
    justify-content: space-between;
}

.header img,
.chatroomHeader img,
#sendButton img {
    filter: drop-shadow(10px 10px 10px #F0F0F2);
}